@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Tailwind (deja SOLO estas 3 líneas) */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   🌐 BASE GLOBAL
========================= */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;

}


/* =========================
   🧱 APP ROOT FIX (opcional pero recomendado)
========================= */

#app {
    position: relative;
    z-index: 1;
}